@charset"UTF-8";
/*aaa*/
body{
      background-color: #2D1F42;
      color: #d5d0db;
      font-size: 16pt;
      font-family: Arial;
    }

.titulo{
      background-color: blue;
}
h1, h3 { 
      font-family: Georgia;
      color: #d5d0db;
  }

h1 {
      font-size: 40px;
      text-align: center;
      color: #d5d0db
      border-width:medium;
      border-radius: 10px;
      margin: 10px 10px 10px 10px;
      border-color:#d5d0db;
   }
      
p{
      color: #d5d0db;
      text-decortion:underline;
}
#menu{
       color: #d5d0db;
      font-size: 16pt;
      font-family: Arial;
}
#link{
       color: #d5d0db;
      font-size: 16pt;
      font-family: Arial;
}
