@charset"UTF-8";
/*aaa*/
body{
      background-color: #2D1F42;
      color: #49326B;
      font-size: 16pt;
      font-family: Arial;
    }
h1{ 
      color: #d5d0db;
  }
p{
      color: #d5d0db;
      text-decortion:underline;
}
